# Housing Market


### Step 1. Import the necessary libraries

In [19]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [20]:
series1 = pd.Series(np.random.randint(1,5, size=100))
series1

0     3
1     3
2     4
3     1
4     4
     ..
95    4
96    1
97    4
98    3
99    4
Length: 100, dtype: int32

In [21]:
series2 = pd.Series(np.random.randint(1,4, size=100))
series2

0     2
1     2
2     1
3     3
4     1
     ..
95    2
96    3
97    1
98    2
99    2
Length: 100, dtype: int32

In [22]:
series3 = pd.Series(np.random.randint(10000,30001, size=100))
series3

0     29835
1     12135
2     15427
3     22963
4     13416
      ...
95    13778
96    16392
97    24035
98    18250
99    11979
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [23]:
df = pd.concat([series1, series2, series3], axis=1)
df

    0  1      2
0   3  2  29835
1   3  2  12135
2   4  1  15427
3   1  3  22963
4   4  1  13416
.. .. ..    ...
95  4  2  13778
96  1  3  16392
97  4  1  24035
98  3  2  18250
99  4  2  11979

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [24]:
df.columns = ['bedrs','bathrs','price_sqr_meter']
df

    bedrs  bathrs  price_sqr_meter
0       3       2            29835
1       3       2            12135
2       4       1            15427
3       1       3            22963
4       4       1            13416
..    ...     ...              ...
95      4       2            13778
96      1       3            16392
97      4       1            24035
98      3       2            18250
99      4       2            11979

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [25]:
df_new = df.bedrs.astype(str).str.cat(df.bathrs.astype(str)).str.cat(df.price_sqr_meter.astype(str))
df_new.columns = ['bigcolumn']
df_new

0     3229835
1     3212135
2     4115427
3     1322963
4     4113416
       ...
95    4213778
96    1316392
97    4124035
98    3218250
99    4211979
Name: bedrs, Length: 100, dtype: object

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [26]:
df_new.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [29]:
df_new = df_new.reset_index(drop=True)
df_new.reset_index()
df_new.reindex(index=range(0,299))

0      3229835
1      3212135
2      4115427
3      1322963
4      4113416
        ...
294        NaN
295        NaN
296        NaN
297        NaN
298        NaN
Name: bedrs, Length: 299, dtype: object