Step 1: Import Libs

In [10]:
import pandas as pd

Step 2: Initiate data

In [11]:
df = pd.DataFrame({
    'name': ['Hoang','Su', 'Duong', 'Phuong'],
    'DOB':['12-12-1979','21-3-1989', '23-01-1996', '14-05-1995']    
})
df

     name         DOB
0   Hoang  12-12-1979
1      Su   21-3-1989
2   Duong  23-01-1996
3  Phuong  14-05-1995

Step 3:  convert to datetime

In [12]:
df['DOB'] = pd.to_datetime(df['DOB'], format='%d-%m-%Y', errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   DOB     4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 192.0+ bytes

Step 4a: Get year, month, day

In [13]:
result = [(x, y.year, y.month, y.day) for x, y in zip(df['name'], df['DOB'])]
for i in result:
    print(i)

('Hoang', 1979, 12, 12)
('Su', 1989, 3, 21)
('Duong', 1996, 1, 23)
('Phuong', 1995, 5, 14)

Step 4b: Get week, day of week (Mon, Tue...)

In [14]:
# Get week of year
result = [(x, y.weekofyear) for x, y in zip(df['name'], df['DOB'])]
print("ordinal week of year")
for i in result:
    print(i)

# get day of week
days=["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
print("*"*50)
print("day name of week")
result = [(x, days[y.dayofweek]) for x, y in zip(df['name'], df['DOB'])]
for i in result:
    print(i)

ordinal week of year
('Hoang', 50)
('Su', 12)
('Duong', 4)
('Phuong', 19)
**************************************************
day name of week
('Hoang', 'Wed')
('Su', 'Tue')
('Duong', 'Tue')
('Phuong', 'Sun')

 Step 5: get age from DOB and store in a new column named Age

In [15]:
df["age"] = df["DOB"].apply(lambda x : (pd.datetime.now().year - x.year))
df

<ipython-input-15-f6a82f07d582>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df["age"] = df["DOB"].apply(lambda x : (pd.datetime.now().year - x.year))

     name        DOB  age
0   Hoang 1979-12-12   43
1      Su 1989-03-21   33
2   Duong 1996-01-23   26
3  Phuong 1995-05-14   27