# 1.1.1 Basic data types

# Number

In [167]:
x=5
print(x)
x+=1
print(x)
x-=2
print(x)
x**=2
print(x)

5
6
4
16

# Boolean

In [174]:
a= True
b= False
print("type a", type(a))
print("type b",type(a))
print(a and b)
print (a or b)
print (not a)
print (not b)
print(a != b)

type a <class 'bool'>
type b <class 'bool'>
False
True
False
True
True

In [176]:
s = "haNoi capiTal"
u = "hocHiminh cIty"
print(len(s))
su = s + "-"+u
print(len(su))
print(su.capitalize())
print(su.upper())
print(su.lower())
print(su.rjust(31, '#'))
print(su.center(37, "*"))
print(su.replace("cIty", "TP"))
print(su.strip( '*'))

13
28
Hanoi capital-hochiminh city
HANOI CAPITAL-HOCHIMINH CITY
hanoi capital-hochiminh city
###haNoi capiTal-hocHiminh cIty
*****haNoi capiTal-hocHiminh cIty****
haNoi capiTal-hocHiminh TP
haNoi capiTal-hocHiminh cIty

# 1.1.2 Container

In [181]:
mylist =["a", 9, 10, "b", "JAPAN", "KOREA", " HCM CITY", [100, 101]]
print(mylist[1])
print(mylist[-1])
mylist[2] = "NEW VALUE"
print(mylist[2])
mylist.append("additional value")
print(mylist[-1])
mylist.pop()
print(mylist)

9
[100, 101]
NEW VALUE
additional value
['a', 9, 'NEW VALUE', 'b', 'JAPAN', 'KOREA', ' HCM CITY', [100, 101]]

# Slicing

In [186]:
ml =["b", "JAPAN", 9, " HCM CITY", [100, 101]]
print(ml[2:4])
print(ml[2:])
print(ml[:3])
print(ml)
ml[2:4] =[9000, "HANOI CAPITAL"]
print(ml[2:4])

[9, ' HCM CITY']
[9, ' HCM CITY', [100, 101]]
['b', 'JAPAN', 9]
['b', 'JAPAN', 9, ' HCM CITY', [100, 101]]
[9000, 'HANOI CAPITAL']

# Loop

In [187]:
ml =["b", "JAPAN", 9, " HCM CITY", [100, 101]]
for item in ml:
    print(item)

b
JAPAN
9
 HCM CITY
[100, 101]

In [189]:
ml =["b", "JAPAN", 9, " HCM CITY", [100, 101]]
for key, element in enumerate(ml):
    print("Key: ", key,";", "Element: ", element)

Key:  0 ; Element:  b
Key:  1 ; Element:  JAPAN
Key:  2 ; Element:  9
Key:  3 ; Element:   HCM CITY
Key:  4 ; Element:  [100, 101]

# List comprehensions:

In [190]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x*2)
print(squares)

[0, 2, 4, 6, 8]

In [193]:
nums = [0, 1, 2, 3, 4]
squares = [x*2 for x in nums]
print(squares)

[0, 2, 4, 6, 8]

In [194]:
nums = [0, 1, 2, 3, 4]
even_squares = [x for x in nums if (x % 2) == 0]
print(even_squares)

[0, 2, 4]

# Dictionaries

In [14]:
dict = {
  "user": "John",
  "email": "john@gmail.com"
}
print(dict['user'])
print("Key exist" if 'Age' in dict.keys() else "Not Exist")
dict["age"]=30
print(dict)
del dict["age"]

# 1. list dictionary item 
for k,v in dict.items():
    print(k,":", v)
    
# 2 
# for i in dict.iteritems():
#     print(i)
# python 3: No 'dict' object has no attribute 'iteritems'

# dict comprehesions

mylist =[5,6,7,8,9]
double_dict =  {num: num*2 for num in mylist}
print(double_dict)

John
Not Exist
{'user': 'John', 'email': 'john@gmail.com', 'age': 30}
user : John
email : john@gmail.com
{5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

# Set

In [18]:
myset = {"durian", "banana", "mango"}
myset.add("sapoche")
print(myset)
myset.remove("mango")
print(myset)

for idx, x in enumerate(myset):
    print(idx, x)

{'mango', 'sapoche', 'durian', 'banana'}
{'sapoche', 'durian', 'banana'}
0 sapoche
1 durian
2 banana

In [22]:
mytuple = ("orange", "kiwi", "melon", "mango")
mytuple[1]= "cherry" # tuple object does not support item assignment

# 1.1.3 Functions

In [24]:
list1 = [11, 5, 17, 18, 23, 10, 20,30]

def sumOfList(list, lenList):
    if (lenList == 0):
        return 0
    else:
        return list[lenList - 1] + sumOfList(list, lenList - 1)

# Driver code	
total = sumOfList(list1, len(list1))

print("Sum of list: ", total)

Sum of list:  134

In [25]:
def addNum(a, b=10):
    return a+b

print(addNum(10))
print(addNum(10,20))

20
30